<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <style>
        body {
            background-color: hsl(300, 1%, 32%);
        }
    </style>

    <title>Contact Us</title>


</head>

<body>


    <div class="container-fluid mt-5 contact-style" id="contact-id" style="padding-top: 2%;">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading" style="color: rgb(216, 197, 29);">Contact Us</h1>
                <p class="text-center sub-heading">We are happy to solve your queries</p>

                <div id="map-container-google-1" class="z-depth-1 map-container mb-5"
                    style="background: #ffe7e8; border: 2px solid #e66465; ">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3571.426637622708!2d84.44060681439615!3d26.474204785204215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39931be3a71950e9%3A0x6cb26b004ea97c5a!2sSarswati%20Talkies!5e0!3m2!1sen!2sin!4v1625023149110!5m2!1sen!2sin"
                        frameborder="0" style="border:0; width: 100%;" allowfullscreen="" loading="lazy"></iframe>
                </div>

                <div class="row">
                    <div class="col-md-10 col-12 mx-auto">
                        <form action="/contact" method="POST">
                            <div class="form-group">
                                <label for="exampleInputPassword1" style="color: chartreuse;">Name</label>
                                <input type="text" class="form-control" id="exampleInputPassword1"
                                    placeholder="Full Name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" style="color: chartreuse;">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter your email" name="email">
                                <small id="emailHelp" class="form-text text-muted">We never share anyone emails.</small>

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" style="color: chartreuse;">Phone</label>
                                <input type="number" class="form-control" id="exampleInputPassword1"
                                    placeholder="Phone Number" name="phone">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" style="color: chartreuse;">Message</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Message"
                                    name="message">
                            </div>
                            <br>

                            <button type="submit" class="btn-style btn-primary" routerLink="/thankyou">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>






</body>

</html>